<div class="contents-row">
  <div class="contents">
    <a class="far fa-arrow-alt-circle-left top-icon", href="/"></a>
    <h3 class= "post-title">To Post</h3>
      <%= form_with model: @tweet , class: "form", local: true do |form| %>
        <%= render partial: "form", locals:{ form: form } %>
      <% end %>
  </div>
</div>