.contents-row{
  width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  
  .contents{
    background-color: #887f5a;
    height: 100vh;
    padding: 30px;
    overflow: scroll;

    .top-icon{
      text-decoration: none;
      font-size: 2em;
      color: #ffffff;
    }
    
    .post-title{
      font-size: 40px;
      text-align: center;
      margin: 30px;
      font-weight: bold; color: rgb(61, 47, 8);
    }
      .form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .image{
          width: 80%;
          padding: 10px;
          margin-top: 50px;
          margin-bottom: 30px;
        }
        .title{
          width: 80%;
          padding: 10px;
          margin-bottom: 30px;
        }
        .text{
          width: 80%;
          height: 200px;
          padding: 10px;
        }
        .submit-btn{
          margin: 30px;
          padding: 10px 30px;
          font-size: 20px;
          color: rgb(61, 47, 8);
        }
        
    }
  }
}